
/* https://www.vecteezy.com/free-vector/folder-icon folder icon source */


body { 

    background-image: url("aqua_bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
    margin:0;
    box-sizing:border-box;
    padding:0;

}


.box1 {

    background-color: white;
    border-radius:5px;
    height:70%;
    width:60%;
    display:flex;
    justify-content:center;



}

.box6 {

    background-color: white;
    border-radius:5px;
    height:70%;
    width:60%;
    display:flex;
    justify-content:center;

    overflow:hidden;
    align-items:center;
    text-align:center;
    padding:10px;


}

.box2 {
    background-color: white;
    border-radius:8px;
    height:45%;
    width:30%;

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:20px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
}
    




.box3 {

    width: 60%;
    height:100%;

}


.enter {
    font-family: 'Nunito Sans', Quicksand;
    font-size:24px;
}



h1 {

    font-family: 'Nunito Sans', Quicksand;
    font-size:36px;
    color:mediumseagreen;
    word-wrap: break-word;
    white-space: normal;
}


.p1 {

    font-family: 'Nunito Sans', Quicksand;
    font-size:36px;
    color:mediumseagreen;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;  
    overflow-wrap: break-word;   /* extra safety for wrapping */
    text-align: center;
}


.horizontal {
    display:flex;
    justify-content:center;
    column-gap:75px;
}


.vertical {

    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}





.center {
    display:block;
}



.bg1 {

    background-image: url("aqua_bg.jpeg");
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  
}

.l-corner {

    display:flex;
    margin:15px;
    align-self:flex-start;
}

.r-corner {
    position:absolute;
    margin:0;
    top:0px;
    right:0px;
    align-self:flex-start;

}

.question {

    display:inline-block;
    align-self:flex-start;
    padding:20px;
    width:420px;
    height:300px;
}

.answer {

    display:inline-block;
    align-self:flex-end;
    padding:20px;
    width:420px;
    height:300px;
    margin:20px;

}

.btn1 {

    background-color: aquamarine;
    border-radius:5px;
    height:80px;
    width:120px;
}

.btn2 {
    background-color:white;
    border-radius:8px;
    font-family:"Crimson", Quicksand;
    font-size:20px;
    display:flex;
    align-self:flex-end;
}

.logout  {

    position:fixed;
    bottom: 0;
    left:0;


    border-radius:40px;
    background-color:aquamarine;
    color:white;
    font-family:'Nunito Sans';
    font-size:24px;
    height:40px;
    width:100px;
    border-color:mediumseagreen;
    margin:10px;
    text-align:center;

}

.container {

    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    height:80vh;

}

.box4 {

    display:flex;
    border-radius:8px;
    background-color:white;
    height:65%;
    width:45%;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}


.form {

    display:flex;
    flex-direction:column;
    border-radius:20px;
    resize:none;
    width:90%;
    height:12%;
    margin:10px;
    padding:20px;
    border-width:1px;
    border-color:grey;
    

}


.mainLoginInput {

    padding: 10px;
    border-radius:40px;
    box-sizing:border-box;
    margin-bottom:10px;
    line-height:50px;
    height:50px;
    border-width:1px;
    border-color:grey;
    
}

.mainLoginInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Nunito Sans', Quicksand;
    font-size:24px;

}

.login {

    border-radius:40px;
    background-color:aquamarine;
    color:white;
    font-family:'Nunito Sans';
    font-size:24px;
    height:45px;
    width:100px;
    border-color:mediumseagreen;
    align-self:center;
    margin:10px;


}


.create {

    border-radius:40px;
    background-color:aquamarine;
    color:white;
    font-family:'Nunito Sans';
    font-size:24px;
    height:40px;
    width:100px;
    border-color:mediumseagreen;
    margin:10px;

}




.h2welcome {
    
    font-family:'Lobster',cursive;
    color:mediumseagreen;
    font-size:64px;
}

.box5 {

    height:150px;
    width:300px;
    border-radius:10px;
    background-color:white;

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    padding:10px;
    margin:10px;
    align-items:center;
    justify-content:center;
}

.rows {

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.rows2 {

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.link_font {

    font-family:"Nunito Sans",cursive;
    font-size:24px;
    color:darkcyan;
}

.container2 {

    display:flex;
    align-items:flex-start;
    justify-content:center;

}

.title {

    display:flex;
    border-width:0px;
    font-family:'Nunito Sans',cursive;
    font-size:24px;
    justify-content:center;
    align-self:center;
    text-align:center;
    width:90%;
}

textarea {
    resize:none;
}

.new_card {

    border-radius:40px;
    background-color:aquamarine;
    color:white;
    font-family:'Nunito Sans';
    font-size:24px;
    height:40px;
    width:100px;
    border-color:mediumseagreen;
    margin:10px;
    text-align:center;
}

.noborder {
    border-width:0px;
    background-color:white;
    height:100px;
    width:100px;
    cursor:pointer;
}


.image {

    box-sizing:border-box;
    border:0px;
    object-fit:cover;
    display:block;
    margin:0;
    padding:0;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    position:fixed;
    bottom:0px;
    left:0px;
    height:60px;
    width:100%;
    background-color:white;
    border-color:white;
}