
/* https://www.vecteezy.com/free-vector/folder-icon folder icon source */


.box1 {

    background-color: white;
    border-radius:5px;
    height:70%;
    width:60%;

}





.h1 {

    font-family: 'Crimson', Quicksand;
    font-size:36px;
}


.horizontal {
    display:flex;
    justify-content:center;
    column-gap:75px;
}


.vertical {

    display:flex;
    flex-direction:column;
    align-items: center;
}





.center {
    display:block;
}

.bg1 {

    background-image: url("aqua_bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}