<head>

<link href="/static/styles.css" rel = 'stylesheet'>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


</head>

<body>

<div class="container">

    

    <div class = 'box4'>    
        <h2 class="h2welcome">Study habits</h2>
        <form class='form' action ="/login" method="post">

            <input class='form mainLoginInput' name="username" type="text" placeholder = "Username">
            <input class='form mainLoginInput' name="password" type="text" placeholder = "Password">
            <button class="login" type="submit">Login</button>


            <a href="{{ url_for('register')}}">No account? Register here!</a>

        </form>
    </div>
</div>

</body>