<head>

<link href="/static/styles.css" rel = 'stylesheet'>


<script src="{{ url_for('static', filename='javascript.js') }}"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


</head>

<body>

<div class="container">

    

    <div class = 'box4'>    
        <h2 class="h2welcome">Study habits</h2>
        <form class='form' action ="/login" method="post">

            <input class='mainLoginInput enter' name="username" type="text" placeholder = "Username">
            <input class='mainLoginInput enter' name="password" type="text" placeholder = "Password">

            <div class="rows">
                <button class="login" type="submit">Login</button>
                <button class="login" type='button' onclick="to_register()">Register</button>

            </div>

        </form>
    </div>
</div>

</body>