{% extends 'layout.html' %}



{% block content %}


<div class="bg1">


    <div class="box3 r-corner">
        <form action="/new" method="post">
            <input class='question' type="text" name="prompt"> 
            <input class="answer" type="text" name="response">
            <button type='button' onclick = "create_new()" class = 'btn3 center'>New</button>
            <button type="submit">Create set</button>
        </form>
            </div>

            <div class = 'box2 l-corner'>

            </div>
    
</div>


{% endblock %}