{% extends 'layout.html' %}


{% block content %}

<div id="data-box" data-info='{{load_cards | tojson }}'></div>

<div class="conatiner2">
    <button class='login' type ="button" onclick="flip_card()">Flip</button>
        <button class='login' type="button" onclick ="next_card()">Next</button>
        </div>
        
        
        <div class = 'container'>
        
            <div class="box6">
                    <p class="p1" id="prompt-response">{{load_cards[0]['prompt']}}</p>
                        </div>
                        </div>
                        
                        {% endblock %}}